* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* mix */

.d_inline {
  display: inline-block;
}

.container {
  width: 1200px;
  height: 100vh;
  padding: 300px 0;
  margin: auto;
  background-color: #FCEA7D;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.list-wrapper {
  margin: auto;
}

.update {
  display: none;
}
