* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* mix */
.d_inline {
  display: inline-block;
}

/* general */

body {
  font-size: 26px;
}

.container {
  max-width: 1200px;
  height: 100vh;
  padding: 300px 0;
  margin: auto;
  background-color: #FCEA7D;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.list-wrapper {
  margin: auto;
}

#to-do-list {
  margin-left: 60px;
  line-height: 50px;
}

input {
  font-size: 18px;
  height: 40px;
}

.btn {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
}

.btn_green {
  background-color: green;
}

.btn_blue {
  background-color: lightblue;
}

.fa-times:hover {
  color: red;
  font-size: 40px;
}

.fa-edit:hover, .fa-edit:active {
  color: lightblue;
  font-size: 30px;
}

.update {
  display: none;
}
